[submodule "hardware"]
	path = hardware
	url = https://github.com/yexiyue/SmartBriteHardware.git
[submodule "desktop"]
	path = desktop
	url = git@github.com:yexiyue/SmartBriteDesktop.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:yexiyue/SmartBriteMobile.git
